body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222; /* Set the background color to black */
    color: #fff; /* Set the text color to white */
    overflow: hidden;
}

.navbar {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: right; /* Align text to the right */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    
}

.navbar li {
    display: inline-block;
       
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
.navbar a:hover {
    background-color: #222; 
}

.time-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    padding: 10px;
}

.time-section div {
    text-align: center;
}

.full-screen-link {
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
    
}
.full-screen-link a{
    text-decoration: none;
    color:#aaa;
     
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: auto;
}

#intro a {
    text-decoration: none;
    color: azure;
    background-color: #111; /* Button background color */
    padding: 2px 20px; /* Adjust padding to your liking */
    border-radius: 50px; /* Add border radius for rounded corners */
    display: inline-block; /* Make it an inline-block to fit the content */
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

#intro a:hover {
    background-color: #333; /* Change background color on hover */
}