body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Set the background color to black */
    color: #fff;
    overflow: hidden; /* Set the text color to white */
}

.navbar {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: right; /* Align text to the right */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    
}

.navbar li {
    display: inline-block;
       
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
.navbar a:hover {
    background-color: #222; 
}


.container {
    width: 90%;
    height: 90vh;
    
    margin: 10px auto;
    background-color: #222; /* Dark background for dark mode */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(32, 67, 221, 0.1); /* Adjust the box shadow color */
}

.container h1 {
    color: #fff;
    text-align: center;
}

textarea {
    width: 100%;
    height: 88%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #52b8c5; /* Dark border for dark mode */
    border-radius: 5px;
    resize: vertical;
    color: azure; /* Dark text for textarea */
    background-color: #111;
    outline: none;
    overflow: hidden;
    font-size: 18px; 
    
}
